.about-content {
    text-align: center;
    padding-top: 40px;
}

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 60px;
    margin-top: 60px;
}

.about-me img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 10px 20px lightsteelblue;
}

.about-me h2 {
    margin: 20px 0;
}

.about-me p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 400px;
}